@font-face {
    font-family: Gotham Rounded;
    src: local("Gotham-Rounded-Bold") url(./assets/fonts/GothamRounded-Bold.otf) format("opentype");
}

@font-face {
    font-family: Gotham Rounded;
    src: local("Gotham-Rounded-Book") url(./assets/fonts/GothamRounded-Book.otf) format("opentype");
}

:root {
    --pink-dark: #F08E6C;
    --pink-light: #F2A888;
    --orange-dark: #e8652b;
    --orange-med: #ED9536;
    --orange-light: #F2B03D;
    --yellow-dark: #F2A888;
    --yellow-light: #FADA4A;
    --green-dark: #53A96A;
    --green-light: #89DBAF;
    --blue-dark: #0A2647;
    --blue-light: #143C62;
    --tan: #FAF1DA;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container-home {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-img {
    height: 120%;
    width: 110%;
}

.title-home {
    font-family: Gotham Rounded;
    font-size: 3em;
    font-weight: 500;
    color: var(--tan);
}

.header {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.button {
    padding: 0;
    margin: auto;
    margin-top: 1em;
    border-radius: 2em;
    color: var(--blue-dark);
    background-color: var(--tan);
    opacity: 0.7;
    padding: 0.5em 1em;
    font-family: Gotham Rounded;
    font-size: 1.5em;
    font-weight: 500;
}

.button:hover {
    opacity: 1;
}

/* game selection page */
.container {
    background-color: var(--blue-light);
    display: flex;
    justify-content: center;
    align-items: center;

}

.inner-container {
    width: 90%;
    height: 50%;
    /* background-color: violet; */
}

hr {
    height: 0.4em;
    border: none;
    width: 100%;
    margin: auto;
    color: var(--tan);
    background-color: var(--tan);
}

.tablink {
    background-color: var(--blue-light);
    color: var(--tan);
    margin: 0;
    border: none;
    border-radius: 0.5em 0.5em 0em 0em;
    padding: 1em 2em;
    font-family: Gotham Rounded;
    font-size: 1em;
    font-weight: 500;
    width: 49.8%;
}

.tablink:hover {
    cursor: pointer;
    background-color: var(--tan);
    opacity: 0.8;
    color: var(--blue-light);
}

.active {
    background-color: var(--tan);
    color: var(--blue-light);
}

.tab {
    margin-top: 2.5em;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
}

.thumbnail-group-home {
    width: 35%;
    display: flex;
    justify-content: space-evenly;
}

.thumbnail-group-two {
    width: 45%;
    display: flex;
    justify-content: space-evenly;
}

.thumbnail-container-home {
    width: 40%;
}

.thumbnail-container-two {
    width: 30%;
}

.thumbnail-container {
    width: 22%;
}

.thumbnail-wrapper {
    width: 100%;
}

.thumbnail {
    width: 100%;
    border-radius: 1em;
}

.thumbnail:hover {
    position: relative;
    top: -2%;
    left: -2%;
    width: 105%;
    height: auto;
    display: block;
    z-index: 999;
}

/* CSS for all activities */
.canvas {
    margin: 0 auto;
}

.back-button {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    margin: 1em 1em;
}

.amp-button {
    background-color: var(--blue-dark);
    opacity: 0.8;
    color: var(--tan);
}

.func-button {
    background-color: var(--tan);
    opacity: 1;
    color: var(--orange-med);
}

.calib-button {
    background-color: var(--tan);
    opacity: 1;
    color: var(--green-dark);
}

.freq-button {
    background-color: var(--tan);
    opacity: 1;
    color: var(--pink-light);
}




